pytest==7.0.0
pytest-cov==3.0.0
numpy==1.22.2
ruamel.yaml==0.17.20
msgpack==1.0.3
tqdm==4.63.0
coverage==6.3.1
coveralls==3.3.1
pymongo==4.0.1
pycodestyle==2.8.0
mypy==0.931
pydocstyle==6.1.1
pydantic==1.9.0
flake8==4.0.1
pandas==1.4.0
black==22.1.0
pylint==2.12.2
