pytest==6.2.2
pytest-cov==2.11.1
numpy==1.20.1
ruamel.yaml==0.16.12
msgpack==1.0.2
tqdm==4.57.0
coverage==5.4
coveralls==3.0.0
pymongo==3.11.3
pycodestyle==2.6.0
mypy==0.812
pydocstyle==5.1.1
pydantic==1.7.3
flake8-black==0.2.1
pylint==2.7.1
