name: Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade ruff mypy

      - name: ruff
        run: |
          ruff --version
          ruff check .
          ruff format --check .

      - name: mypy
        run: |
          mypy --version
          rm -rf .mypy_cache
          mypy ${{ github.event.repository.name }}
